input {
	border-color: #AAA #565656 #565656 #AAA;
	text-shadow: 3px 3px #4C4C4C;
	/*outline: 2px solid #000;*/
	letter-spacing: 2px;
	padding: 12px 16px;
	transition: all 0.1s ease;
	width: 100%;
	font-size: 20px;
	outline: none;
}

input:hover {
	border-color: #BDC6FF #59639A #59639A #BDC6FF;
}