$size: 4rem;

.itemSlot {
    border: 2px solid transparent;
    color: #fff;
    background: #999;
    text-align: center;
    vertical-align: middle;
    height: $size;
    width: $size;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
}

.active {
    border-color: #fff;
}

.inner {
    position: relative;
    height: $size;
    width: $size;
    cursor: pointer;
}

.icon {
    display: block;
    padding: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: relative;

    > img {
        image-rendering: pixelated;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(#{$size} - 1rem);
        height: calc(#{$size} - 1rem);
    }
}

.quantity {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    padding: 1px;
}