$playButtonSize: 2rem;

.playButton {
    padding: 0.75rem 2rem;

    svg {
        cursor: pointer;
        width: $playButtonSize;
        height: $playButtonSize;
    }
}

.content {
    top: calc(50% - #{$playButtonSize});

    animation: fadeInOpacity .5s ease-in forwards;
}

.readyBackdrop {
    opacity: 1 !important;
    animation: fadeOutBackground .5s ease-out forwards !important;
    background: rgba(0, 0, 0, 1);
}

@keyframes fadeOutBackground {
    from {
        background: rgba(0, 0, 0, 1);
    }
    to {
        background: rgba(0, 0, 0, 0.7);
    }
}