@import 'elements/button.css';
@import 'elements/input.css';
@import './menu.css';

@font-face {
	font-family: 'Minecraft';
	src: url('/font/Minecraft.ttf') format('ttf'),
	url('/font/Minecraft.woff2') format('woff2'),
	url('/font/Minecraft.woff') format('woff');
}

* {
	font-family: 'Minecraft', Fallback, sans-serif;
	box-sizing: border-box;
}

:root {
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

h1,
h2 {
	text-align: center;
}