@import 'abstract/typography.css';

@import 'elements/button.css';
@import 'elements/input.css';
@import 'elements/headline.css';

@import 'layout/menu.css';

* {
	box-sizing: border-box;
}

:root {
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
