.menu {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	max-width: 468px;
	min-width: 368px;
	margin: 0 auto;
	padding: 10% 1rem 1rem;
}

.menu > * {
	width: 100%;
}