.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 0;
    animation: fadeInOpacity .3s ease-in-out;

    &-7 {
        background: rgba(0, 0, 0, .7);
    }

    &-10 {
        background: rgba(0, 0, 0, 1);
    }
}